# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last (not first) matching pattern "wins"

# These owners will be the default owners for everything
* @davenicoll/admins @davenicoll/contributors

# engineering team must review Somefile changes
**/Somefile @davenicoll/engineering

# platform team must review any changes to GitHub actions or configuration
.github/* @davenicoll/platform

# Of course, admins must approve changes to CODEOWNERS itself
.github/CODEOWNERS @davenicoll/admins
.github/workflows/validate-codeowners.yaml @davenicoll/admins
